<h1>Hi. I'm making something here.</h1>
<p>I'm a junior web developer working on a breakable toy in Rails to pratice my AJAX and TDD skills. I have a daughter who's trying to figure out how reading works. She also likes to hammer on the keyboard when I'm using it. I figured I could help her focus her hammering to specific keys and maybe learn something in the process.</p>